* {
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, sans-serif;
}

html, body {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.syntaxhighlighter {
	width: 75% !important;
	border: 1px solid lightgrey !important;
	padding: 3px;
}

#header {
	position: absolute;
	top: 0;
	left: 0;
	border-bottom: 1px solid navy;
	width: 100%;
	height: 100px;
	background: #acbce4 url("images/logo.png") no-repeat;
}

#content {
	color: #000;
	padding: .5em;
	position: absolute;
	top: 101px;
	left: 13.1em;
	right: 0;
	bottom: 0;
	overflow: auto;
	background-color: #f0f0f0;
}

#footer {
	background-color: #000;
	height: 2em;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
}

#by-line {
	display: inline;
	color: #FFF;
	position: absolute;
	top: .4em;
	right: 1em;
}

#navigation {
	position: absolute;
	top: 100px;
	left: 0;
	width: 13em;
	bottom: 0;
	border-right: 1px solid navy;
	background-color: #f0f0f0;
}

#nav-title {
	height: 1.3em;
	width: 100%;
	background-color: #000;
	color: #FFF;
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
}

#nav-list ul {
	list-style-type: none;
	margin-left: 1em;
}

#nav-list ul li {
	margin-top: .3em;
}

a[href="main"] {
	margin-left: -.5em;
}
