.popup {
	position: relative;
	white-space: pre;
	padding: .5em;
	display: inline-block;
	cursor: move;
	border-width: 3px;
	z-index: 9999;
}

.popup-shadow {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 9998;
}

.popup-buttons {
	margin-top: .8em;
	padding-top: .5em;
	border-top: 1px solid grey;
	width: 100%;
	font-size: .8em;
}

.popup-buttons .close-button {
	float: right;
	margin-left: 1em;
}

.popup-buttons .ui-button-text {
	padding: .1em .3em !important;
}
