* {
	font-family: siteFont, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

html, body {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%
}

ol {
	padding: 1em 1em 1em 2em;
}

.code-wrapper {
	border: 1px solid grey;
	padding: 3px;
}

#header {
	width: 100%;
	height: 100px;
	margin: 0;
	padding: 0;
	background: #1e1e1e url("CM_Logo.png") no-repeat;
	border-bottom: 3px solid black;
}

.menu {
	list-style: none;
	width: auto;
	font-size: 1.3em;
	color: white;
	position: relative;
	float: right;
	margin-right: 4em;
}

.menu li {
	list-style: none;
	font-weight:bold;
	float:left;
	text-align:center;
	border:none;
	position: relative;
	min-height:1px;
	margin:30px 0px 0 20px;
	padding:10px 10px 8px 10px; 
}

.menu ul {
	position: absolute;
	background-color: #0A0A0A;
	padding: 15px 20px 16px 10px;
	font-size: .8em;
	white-space: nowrap;
	z-index: 100;
	margin-left: -20px;
	top: 41px
}

.menu ul li {
	clear: both;
	padding: 3px;
	margin-top: 3px;
	margin-left: 10px;
	text-align: left;
	width: 85%;
}

.menu ul li:hover {
	background-color: #1e1e1e;
}

.menu li:hover, .menu li.current {
	background-color:#0A0A0A; 
	cursor:pointer;
}

#left {
	position: absolute;
	top: 103px;
	bottom: 0;
	border-right: 3px solid #161616;
	opacity: 1;
	background-color: #324c55;
	z-index: 99;
	width: 10em;
}

#right {
	position: absolute;
	top: 103px;
	bottom: 0;
	width: 10em;
	right: 0;
	border-left: 3px solid #161616;
	opacity: 1;
	background-color: #324c55;
	z-index: 99;
}

#content {
	position: absolute;
	top: 103px;
	bottom: 0;
	left: 8em;
	right: 8em;
	padding: 1em 2.3em 1em 2em;
	font-size: 1.1em;
	z-index: 90;
	overflow-y: auto;
}

/* jQuery overrides */
.ui-button-text-only .ui-button-text {
	padding: .3em !important;
}